body {
  background: $bg-color;
}

.none {
  display: none !important;
}

.left {
  &-1 {
    left: 1rem;
  }
  &-2 {
    left: 2rem;
  }
}

.right {
  &-1 {
    left: 1rem;
  }
  &-2 {
    left: 2rem;
  }
}

.o-15 {
    opacity: .15;
}

.shadow-inset-2 {
    -webkit-box-shadow: inset 0 0.25rem 0.125rem 0 rgba(0,0,0,.05);
    box-shadow: inset 0 0.25rem 0.125rem 0 rgba(0,0,0,.05);
}

.center-v {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.pseudo-enter {
  max-height: 0;
  overflow: hidden;
}

.pseudo-enter.pseudo-enter-active {
  height: auto;
  max-height: 180px;
  overflow: hidden;
  transition: max-height .25s ease-in;
}

.pseudo-leave {
  max-height: 180px;
  overflow: hidden;
}

.pseudo-leave.pseudo-leave-active {
  max-height: 0;
  overflow: hidden;
  transition: max-height .25s ease-out;
}